@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0ece6;
  color: #333;
  background: url("../images/friendlycoding.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 1em;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgba(222, 237, 230, 0.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
   border: 3px solid rgba(68, 125, 153, 0.7);
}

.main-box {
  background: rgba(222, 237, 230, 0.8);
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
 border: 5px solid rgba(68, 125, 153, 0.7);

padding: 0 2% 2% 2%;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.pos_cen {
  position: absolute;
  width: 70%;
  left: 10%;
  /* top:20%; */
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #17a2b8;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  /* position: absolute; */
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: #17a2b8;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.t {
  color: hsla(200, 38%, 43%, 1);
  /* color: hsla(178, 16%, 70%, 1); */
}

.welcome {
  font-size: 45px;
  margin-bottom: 0.5em;
  color: #17a2b8;
  left: 20%;
}

.name {
  font-size: 40px;
}

.subtitle {
  font-size: 30px;
  /* margin-bottom: 0.5em; */
}

.main-text {
  font-size: 28px;
  margin-top: 5%;
  padding: 9px;
}

.img_deg {
  float: left;
  border-radius: 100%;
  border: 6px solid #bacecbff;
  margin-bottom: 0.5em;
}

.skills {
  margin-top: 0.5em;
  font-size: 45px;
  margin-bottom: 0.5em;
  color: #17a2b8;
  display: flex;
  justify-content: center;
}

.video {
  width: 500px;
  float: right;
  padding: 10px;
}

.currently-learning {
  margin-top: 0.5em;
  font-size: 45px;
  margin-bottom: 0.5em;
  color: #17a2b8;
  display: flex;
  justify-content: center;
}

.marg-b1 {
  margin-bottom: 1em;
}

.marg-r {
  margin-right: 0.5em;
}

.languages {
  font-size: 25px;
}

.lang-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100px;
}

.proj-box {
  margin-bottom: 2em;
  height: 350px;
  padding: 15px;
  position:relative;
}

.features {
  margin-bottom: 1em;
}

.pill-container {
  position: absolute;
  bottom: 0; 
}



.pill {
  background-color: hsla(195, 36%, 72%, 1);
  color: #447d99ff;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  align-items: center;
}

.custom-list li::before {
  content: "\2022";
  color: #007bff;
  font-size: 18px;
  margin-right: 10px;
}

.custom-list li:last-child {
  margin-bottom: 0;
}

.b {
 color: #17a2b8;
}

.desc {
  font-size: 25px;
  padding: 10px;
}

.marg-b-half {
  margin-bottom: 0.25em;
}

.marg-t-q {
  margin-top: 0.55em;
}

.align-l {
  float: left;
}

.align-c {
  text-align: center;
  display: block;
}

.work-experience {
  margin-top: 30px;
}

.job {
  margin-bottom: 30px;
  border: 3px solid #878787;
  padding: 20px;
background-color: hsla(0, 0%, 97%, 0.4);

}

.job h3 {
  font-size: 2em;
  margin-bottom: 5px;
 color: #17a2b8;
}

.company {
  color: #555;
  font-style: italic;
  margin-bottom: 10px;
  font-size:1.2em;
}

.date {
  font-weight: bold;
  color: #333;
    font-size:1.2em;
}

.responsibilities {
  margin-top: 10px;
  padding-left: 20px;
    font-size:1.3em;
  list-style: inside disc;
}

.responsibilities li {
  margin-top:2%;
  margin-bottom: 2%;
}




@media (max-width: 768px) {
  .job {
    padding: 15px;
  }
}

.contact{
    display: flex;
flex-direction:column;
align-items: center;
}


.contact-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}

.intro-box{

  margin-bottom: 30px;
  border: 3px solid #878787;
  padding: 20px;
  padding-bottom:100px;
background-color: hsla(0, 0%, 97%, 0.4);


}

.skill-box{
  margin-bottom: 30px;
  border: 3px solid #878787;
padding-bottom:30px;
background-color: hsla(0, 0%, 97%, 0.4);
}

.learn-box{
  margin-bottom: 10px;
  border: 3px solid #878787;
padding-bottom:30px;
background-color: hsla(0, 0%, 97%, 0.4);
}

.git-link{
  font-size: 20px;
}


