 @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0ece6;
  color: #333;
  background: url("../images/friendlycoding.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 1em;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 90px;
  background: rgba(222, 237, 230, 0.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  border: 3px solid rgba(68, 125, 153, 0.7);
}

.main-box {
  background: rgba(222, 237, 230, 0.8);
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border: 5px solid rgba(68, 125, 153, 0.7);
  padding: 0 2% 2% 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pos_cen {
  position: absolute;
  width: 70%;
  left: 10%;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #17a2b8;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: #17a2b8;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.t {
  color: hsla(200, 38%, 43%, 1);
}

.welcome {
  font-size: 40px;
  margin-bottom: 0.2em;
  color: #17a2b8;
  left: 20%;
  margin-top:.2em;

}

.subtitle {
  font-size: 30px;
}

.main-text {
  font-size: 28px;
  padding: 9px;
}


.video-container {
  position: relative;
  width: 60%; /* The width of the container (and the iframe) */
  padding-bottom: calc(60% * 0.5625 + 1em); /* 56.25% aspect ratio + 1em bottom padding */
  margin: 0 auto; /* Center the container horizontally */
  height: 0;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* The width of the iframe within the container */
  height: calc(100% - 1em); /* Height of the iframe accounting for the 1em padding */
}


.proj-box {
  margin-bottom: 2em;
  height: auto;
  padding: 15px;
  position: relative;
  background-color: hsla(0, 0%, 97%, 0.4);
  border: 3px solid #878787;
}

.pill-container {
  position: absolute;
  bottom: 0;
}

.pill {
  background-color: hsla(195, 36%, 72%, 1);
  color: #447d99ff;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.git-link {
  font-size: 20px;
}

.align-c {
  text-align: center;
  display: block;
}

.marg-t1{
  margin-top: 1em;
}

.marg-t-half{
  margin-top:0.5em;
}

.marg-b1 {
  margin-bottom: 1em;
}

.marg-b2{
  margin-bottom: 2em;
}

.marg-b3-half{
  margin-bottom: 3.75em;
}

.marg-b-half {
  margin-bottom: 0.5em;
}

.marg-t-q {
  margin-top: 0.25em;
}

.b {
  color: #17a2b8;
}

.desc {
  font-size: 25px;
  padding: 10px;
}

@media (max-width: 768px) {
  .proj-box {
    padding: 15px;
  }
}

.lang-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:100px;
}

.work-experience {
  margin-top: 2em;
}

.job {
  margin-bottom: 1.5em;
  padding: 1em;
  background-color: hsla(0, 0%, 97%, 0.8);
  border: 3px solid #878787;
  text-align: left;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}

.job h3 {
  font-size: 1.8em;
  color: #17a2b8;
  margin-bottom:0.5em
}

.company {
  font-size: 1.2em;
  font-style: italic;
  color: #555;
  margin-bottom: 0.25em;
}

.date {
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.responsibilities {
  margin-top: 1em;
  padding-left: 1em;
  font-size: 1.1em;
  list-style: disc;
  color: hsla(200, 38%, 43%, 1);
}

.small-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.contact{
    display: flex;
flex-direction:column;
align-items: center;
}


.contact-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}
